// Variables
$primary-button-color: #469487;
$cancel-button-color: #DF5A4B;
$book-card-background: #E0E0E0;
$text-color-white: #FFFFFF;
$main-font : 'Open Sans', sans-serif;

// Mixins
@mixin button-styles() {
  background-color: $primary-button-color;
  color: $text-color-white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  max-width: 200px; // Pour s'assurer que le bouton ne dépasse pas cette largeur sur de plus grands écrans
  width: 100%;  // Prend toute la largeur du parent, jusqu'à max-width
  margin: auto;

  &:hover {
    background-color: darken($primary-button-color, 10%);
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title-style{
  font-family: $main-font;
  font-size: 1.5rem;
  text-align: center;
}

@mixin h2-style{
  font-family: $main-font;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 15px 0;
}

@mixin h3-style{
  font-family: $main-font;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
  font-size: 0.8rem;
}

@mixin regular-font-style{
  font-family: $main-font;
  font-size: 0.8rem;
  text-align: justify;
  margin: 10px 0;
}

@mixin fa-addons{
  position: absolute;
    right: 10px;
    color: $primary-button-color;
    font-size: 20px; 
    cursor: pointer;
}

// Global Styles
body {
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}

header {
  @include flex-center;
}

* {
  box-sizing: border-box;
}

// Container for the application
#myBooks {
  padding: 0 30px;
}

// Titles
.title {
 @include title-style();
}

.h2, h2 {
  @include h2-style();
}

// Search Form
.search-container {
  width: 100%;
  margin: 10px 0;
}

.form-search {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.label-title,
.label-author {
  margin-bottom: 8px; 
  text-align: left; 
  font-size: 0.8rem;
}

.input-title,
.input-author {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8rem;
}

.btn-add-book{
  @include button-styles;
  @include flex-center();
  margin-bottom: 20px;
}

.btn-search{
  @include button-styles;
  margin-bottom: 10px;
  display: block;
}

.btn-cancel {
  @include button-styles;
  display: block;
  margin-bottom: 8px;
  background-color: $cancel-button-color;
}

.search-results, .poch-liste {
  display: grid;
  gap: 5px; // Espacement entre les cartes
  grid-template-columns: 1fr;
}

// Book card styles
.book-item, .poch-book-item {
  background-color: $book-card-background;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ombre plus marquée pour un effet de profondeur
  width: calc(100% - 20px);  


  h3 {
    @include h3-style();
    margin-top: 20px;
  }

  p {
    @include regular-font-style();
  }

  img {
    width: 50%; // Assure que l'image prend toute la largeur de la carte
    height: auto; // Maintient les proportions de l'image
    object-fit: cover; // Ajuste l'image pour couvrir la zone sans déformation
    margin-bottom: 10px;
    display: block; // Assure que l'image est un élément de bloc
    margin-left: auto; // Centrer horizontalement
    margin-right: auto; // Centrer horizontalement
  }

  .fa-bookmark {
    @include fa-addons;
    top: 10px;
  }

  .fa-trash {
    @include fa-addons;
    bottom: 10px;
  }
}


// Responsive adjustments
@media (min-width: 768px) {

  .input-title,
  .input-author {
    width: 100%;
  }

  .search-results, .poch-liste{
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-search, .btn-cancel {
    max-width: 200px;
    width: 100%;
    padding: 10px 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .book-item, .poch-book-item {
    width: auto;
  }
}

@media (min-width: 1024px) {
 
  .form-search {
    width: 100%;
    margin: 20px auto;
  }

  .btn-search, .btn-cancel {
    max-width: 200px;
    width: 100%;
    padding: 10px 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .search-results, .poch-liste{
    grid-template-columns: repeat(3, 1fr);
  }


  .book-item, .poch-book-item {
    width: auto;
  }
}
